html {
    background-image: url("cerebro_numeros.jpg");
    background-size: contain;
    background-position: 100%;

    display: inline-block;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgba(203, 236, 19, 0.819);
    text-align: center;
    align-items: center;
    text-decoration: underline;
}

div {
    display: inline-block;
}

body {
    display: contents;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(69, 69, 224);
    font-size: 3rem;
}

.subTitulo {
    background-color: rgba(24, 189, 6, 0.306);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 39px;
    text-align: center;
    align-items: center;

}

h3 {
    font-family: cursive;
    color: #bc1919f0;
    font-size: 22px;
}

.multiplicacao {
    margin: 50px;
    align-items: center;
    text-align: center;
    font-family: cursive;

}


.form {
    background-color: white;
    padding: 25px;
    padding-left: 40px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(00, 00, 00, 0.3);
    border-radius: 30px;
    margin: 10px;
}



.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}



.input::placeholder {
    color: lightgray;
    font-family: cursive;
}



.btn {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(00, 00, 00, 0.3);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}

.ponto {
    color: green;
    text-align: right;
}